<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${tempdir}/Popcorn/Logs"/>
  <targets>
    <target name="trace" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}-${date:format=yyyy-MM-dd}.log" />
    </target>
    <target name="debug" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}-${date:format=yyyy-MM-dd}.log" />
    </target>
    <target name="info" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}-${date:format=yyyy-MM-dd}.log" />
    </target>
    <target name="warn" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}-${date:format=yyyy-MM-dd}.log" />
    </target>
    <target name="error" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}-${date:format=yyyy-MM-dd}.log" />
    </target>
    <target name="fatal" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/${level}-${date:format=yyyy-MM-dd}.log" />
    </target>
  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="trace" />
    <logger name="*" level="Debug" writeTo="debug" />
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Warn" writeTo="warn" />
    <logger name="*" level="Error" writeTo="error" />
    <logger name="*" level="Fatal" writeTo="fatal" />
  </rules>
</nlog>